.bash_history
.DS_Store
.idea

*.asis
*.brotli
*.html
!*docinfo*.html
*.webp

??/
??-??/

*.??.adoc
*.??-??.adoc
!*.en.adoc

at/*.??.svg
at/*.??-??.svg
at/!*.en.svg

*.??.txt
*.??-??.txt
!*.en.txt

*.mo
*.icloud
build.sh
